<div class="language-switcher" 
     role="combobox" 
     [attr.aria-expanded]="isDropdownOpen" 
     [attr.aria-haspopup]="'listbox'">
  <button class="current-language" 
          (click)="toggleDropdown()"
          [attr.aria-label]="'Select language. Current language: ' + getCurrentLanguage().name"
          [attr.aria-controls]="'language-list'">
    <i [class]="getCurrentLanguage().icon"></i>
    <i class="fas fa-chevron-down arrow" [class.open]="isDropdownOpen"></i>
  </button>

  <div class="language-dropdown" 
       *ngIf="isDropdownOpen"
       id="language-list"
       role="listbox">
    <button class="language-option" 
            *ngFor="let lang of languages; let i = index" 
            (click)="switchLanguage(lang.code)"
            [class.active]="lang.code === currentLanguage"
            [class.focused]="i === focusedIndex"
            [attr.aria-selected]="lang.code === currentLanguage"
            role="option"
            [attr.tabindex]="i === focusedIndex ? '0' : '-1'">
      <i [class]="lang.icon"></i>
      <span class="name">{{lang.name}}</span>
    </button>
  </div>
</div> 